.header-box {
    text-align: center;
}

.container {
    display: grid;
    grid-template-columns: 30% 40% 30%;
    text-align: center;
}

#submit-button {
    text-align: center;
    margin-top: 1rem;
}

#name-box {
    margin-bottom: 1rem;
}